/*Navigation bar styles*/

.nav-link:hover {
 	border-bottom: 2px solid royalblue;
}
.fa {
	padding: 10px;
	font-size: 30px;
	width: 30px;
}

/*General styles for whole website*/

.full_background {
	height: 100vh;
	margin: auto;
}

.vertical {
	align-items: center;
	margin-top: 3vw;
}

@font-face {
font-family: titles_font ;
src: url(/FREEBSC_.ttf);
}

.titles_font {
	margin-bottom: 5vw;
	font-size: 10vw;
	font-size: 10vh;
	font-family: titles_font;
}

.welcome {
	color: rgba(209, 76, 183);
	margin-left: auto;
	margin-right: auto;
}

.calculator {
	color: rgba(209, 76, 183);
	margin-left: auto;
	margin-right: auto;
	margin-top: 10vh;
}

/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

.paragraphs {
	margin: 3vw;
	color: black;
	font-size: 3vw;
	font-size: 3vh;
	align-content: center;
}

@media only screen and (max-width: 300px) {
    black_txt {
        font-size: 2em;
    }
	
	white_txt {
		font-size: 2em;
	}
	
	title {
		font-size: 3em;
	}
	
	
}


/*Styles by section of content*/

#About {
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url('../images/background.jpg');
}

#TeaCalc {
	background-size: 100% 100%;
	background-repeat: no-repeat;
  	background-image: url('../images/teacalc.jpg');
}

.form {
	margin: 20%;
}

.text-form {
	font-size: 2vh;
	font-size: 2vw;
}

#Classes {
	background-size: 100% 100%;
	background-repeat: no-repeat;
  	background-image: url('../media/cover/classes.jpg!d');
	}

	.tbody {
		text-align: center;
	}

	.table {
		display: table;
		border-collapse: separate;
		border-spacing: 2px;
		border-color: black;
	}

#Sign-up {
		background-color: white;
	}


#Le_Journal {
	background-size: 100% 100%;
	background-repeat: no-repeat;
    background-image: url('https://media.giphy.com/media/l378h7yBiPDAVHIOY/giphy.gif');
}

/*#Sponsors*/


/*#Newsletter*/

.div.mc-field-group label {
	text-align: center;
	padding-bottom: 4px;
	font-size: 4px;
}