.background {
    height: 100vh;
    width: 100vw;
    background-size: 100% 100%;
    background-image: url('../images/recipies.jpg');
}

.recipe_title {
    font-size: 6vw;
    font-size: 6vh;
    font-style: italic;
    font-family: cursive;
    text-align: right;
    margin-right: 10px;
    color: white;
}

.recipe_minor_title { 
    font-size: 4vw;
    font-size: 4vh;
    font-style: normal;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-align: left;
    margin-left: 55%;
    color: white;
}

.recipe_minor_individual_title { 
    font-size: 2vw;
    font-size: 2vh;
    font-style: normal;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-align: left;
    margin-left: 55%;
    color: white;
}

.recipe_information {
    font-size: 1.2vw;
    font-size: 1.2vh;
    font-style: normal;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    margin-left: 55%;
    text-align: left;
    text-align: justify;
    margin-right: 1%;
    color: white;
    background-color: rgba(160,82,45,0.3);
    font-weight: 900;
}




